<template>
  <div class="login">
    <h1 class="title">BEM-VINDO!</h1>

    <!-- <input type="text" v-model="email" placeholder="Email" /> -->
    <div class="login">
      <b-field label="E-mail" type="is-success">
        <b-input type="text" v-model="email" placeholder="Email" maxlength="30"></b-input>
      </b-field>
      <b-field label="Senha" type="is-success">
        <b-input type="password" v-model="password" placeholder="Senha" maxlength="30"></b-input>
      </b-field>

      <b-button @click="login" type="is-success" outlined>Entrar</b-button>
      <!-- <button @click="login">Entrar</button> -->
    </div>

    <!-- <br />
    <input type="password" v-model="password" placeholder="Password" />
    <br />-->

    <p>
      Não tem uma conta? Crie uma
      <router-link to="/signup">aqui!</router-link>
    </p>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "login",
  data() {
    return {};
  },
  methods: {
    login: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            alert("Well done! You are now connected!");
            console.log(user);
            this.$router.replace("home");
          },
          err => {
            alert("Oops." + err.message);
          }
        );
    }
  }
};
</script>

<style scoped>
h1 {
  margin-top: 20%;
  font-size: 40px;
}
.login {
  width: 53%;
  margin: 50px auto;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 0px;
  width: 20%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 16px;
}

p a {
  text-decoration: underline;
  cursor: pointer;
}
</style>
